
@{
    ViewBag.Title = "Quản lý thành viên";
}


<section role="main" class="content-body">
    <header class="page-header">
        <h2>Quản lý thành viên</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Quản lý thành viên</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
            </div>

            <h2 class="panel-title">Danh sách thành viên</h2>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-md">
                        <button id="addToTable" class="btn btn-primary">Thêm thành viên <i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped mb-none" id="datatable-editable">
                <thead>
                    <tr>
                        <th>Mã thành viên</th>
                        <th>Họ tên</th>
                        <th>Địa chỉ</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>CMND</th>
                        <th>Ngày cấp</th>
                        <th>Nơi cấp</th>
                        <th>Email</th>
                        <th>Điện thoại</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeA">
                        <td>TV000201</td>
                        <td>Mai Ăn Tiêm</td>
                        <td>Khoái Châu, Hưng Yên</td>
                        <td>01/04/2001</td>
                        <td>Nam</td>
                        <td>0333948284912</td>
                        <td>06/12</td>
                        <td>Công An Khoái Châu</td>
                        <td>bagiangson2001@gmaill.com</td>
                        <td>0968324981</td>
                        <td class="actions">
                            <a href="#" class="hidden on-editing save-row"><i class="fa fa-save"></i></a>
                            <a href="#" class="hidden on-editing cancel-row"><i class="fa fa-times"></i></a>
                            <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </section>
    <!-- end: page -->
</section>

@section div{
    <div id="dialog" class="modal-block mfp-hide">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Bạn có chắc chắn muốn xóa?</h2>
            </header>
            <div class="panel-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <p>Bạn có chắc chắn muốn xóa sản phẩm này?</p>
                    </div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button id="dialogConfirm" class="btn btn-primary">Xác nhận</button>
                        <button id="dialogCancel" class="btn btn-default">Hủy</button>
                    </div>
                </div>
            </footer>
        </section>
    </div>
}

@section script{
    <script>
        ((function ($) {
            $(function () {
                EditableTable.initialize(10);
            });
        }).apply(this, [jQuery])
    </script>
}


