
@{
    ViewBag.Title = "Quản lý lương";
}

@section css{
    <link rel="stylesheet" href="~/Assets/stylesheets/popup.css">
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Quản lý lương</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Quản lý lương</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
            </div>
            <h2 class="panel-title">Lương</h2>
        </header>
        <div class="panel-body">
            <div class="form-group col-sm-3" style="display: flex;align-items: center;">
                <label class="form-control-label px-3">Năm</label>
                <select id="position" class="selectpicker" style="margin-bottom:10px;">
                    <option>2021</option>
                    <option>2020</option>
                    <option>2019</option>
                </select>
            </div>
            <table class="table table-bordered table-striped mb-none">
                <thead>
                    <tr>
                        <th>Tháng</th>
                        <th>Điểm doanh số tích lũy</th>
                        <th>Điểm doanh số trực tiếp</th>
                        <th>Điểm doanh số gián tiếp</th>
                        <th>Điểm doanh số đã sử dụng</th>
                        <th>Tổng điểm doanh số</th>
                        <th>Tổng lương</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="gradeA">
                        <td>01</td>
                        <td>1000</td>
                        <td>400</td>
                        <td>200</td>
                        <td>500</td>
                        <td>1600</td>
                        <td>20.000.000</td>
                    </tr>
                    <tr class="gradeA">
                        <td>02</td>
                        <td>2000</td>
                        <td>1000</td>
                        <td>900</td>
                        <td>1000</td>
                        <td>2600</td>
                        <td>25.000.000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!-- end: page -->
</section>
			</div>
		</section>

@section script{
    <script>
        (function ($) {
            $(function () {
                EditableTable.initialize(6);
            });
            var header = $('.table th');

            var rows = $('.table tr');
            for (var i = 1; i < rows.length; i++) {
                var cells = $(rows[i]).children('td');
                $(cells[0]).css('text-align', 'center');
                for (var j = 1; j < 7; j++)
                    $(cells[j]).css('text-align', 'right');
            }

        }).apply(this, [jQuery]);
    </script>
}
