
@{
    ViewBag.Title = "Thêm thông báo";
}

@section css{
    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="~/assets/vendor/summernote/summernote.css" />
    <link rel="stylesheet" href="~/assets/vendor/summernote/summernote-bs3.css" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme.css" />
    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/skins/default.css" />
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/assets/stylesheets/theme-custom.css">
    <link rel="stylesheet" href="~/Assets/vendor/toast/toastr.min.css"/>
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Thêm thông báo</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Quản lý thông báo</span></li>
                <li><span>Thêm thông báo</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Thông báo</h2>
                </header>
                <div class="panel-body">
                    <div class="form-horizontal form-bordered">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Tiêu đề</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="title">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Nội dung</label>
                            <div class="col-md-9">
                                <textarea id="summernote"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Mã người nhận</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="txtMemberIDAdd"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-md-3 control-label" for="inputDefault">Người nhận</label>
                                <div class="col-md-6" style="padding-left: 7px">
                                    <input type="text" class="form-control" id="txtFullNameAdd" disabled>
                                   
                                    <br />
                                    <input type="checkbox" id="checked-receiver" />
                                    <label for="checked-receiver">Gửi cho tất cả</label>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="row">
                                <div class="col-md-9 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>


    <!-- end: page -->
</section>

    
@section script{
    <script src="~/Assets/vendor/toast/toastr.min.js"></script>
    <script src="~/assets/vendor/summernote/summernote.js"></script>
    <script src="~/Assets/vendor/summernote/summernote-vi-VN.js"></script>
    <script src="~/assets/vendor/bootstrap-maxlength/bootstrap-maxlength.js"></script>
    <script src="~/assets/vendor/ios7-switch/ios7-switch.js"></script>

    <script src="~/assets/javascripts/theme.init.js"></script>
    <script src="~/assets/javascripts/forms/examples.advanced.form.js"></script>
    <script>
        var postNotify = function (title, content, receiver, isSendAll) {
            $.post('http://localhost:57133/api/Notify', {
                NotifyID: 0,
                Sender: sessionStorage.getItem('userID'),
                Title: title,
                Content: content,
                Receiver: receiver,
                IsSendAll: isSendAll,
                CreateDate: (new Date()).toISOString()
            }).done(function () {
                location.href = "/Notify";
            }).fail(function () {
                toastr.error("Thêm thông thất bại");
            });
        }
        var textEdit = $('#summernote').summernote({
            placeholder: 'Enter content....',
            tabsize: 2,
            height: 300,
            minHeight: 100,
            maxHeight: 500,
            focus: true,
            lang: "vi-VN"
        });

        $('#txtMemberIDAdd').on('input', function () {
            var val = $(this).val();
            if (val.length == 8) {
                $.get(`http://localhost:57133/GetMember?id=${val}`)
                    .done(function (data) {
                        if (data.length>0) {
                            console.log(data[0].FullName);
                            $("#txtFullNameAdd").val(data[0].FullName);
                            return;
                        }
                        toastr.error("không tìm thấy thành viên nào")
                    })
                    .fail(function () {
                        toastr.error("không tìm thấy thành viên nào");
                    });
            }
        });

        $('.btn-primary').click(function () {
            var title = $('#title').val().trim();
            var content = textEdit.code();
            var receiver = $('#txtMemberIDAdd').val().trim();
            var isSendAll = $('#checked-receiver').is(':checked');
            if (isSendAll)
                if (title == '' || content == '')
                    toastr.error("thông tin trống");
                else
                    postNotify(title, content, receiver, isSendAll);
            else
                if (title == '' || content == '' || receiver == '')
                    toastr.error("thông tin trống");
                else
                    postNotify(title, content, receiver, isSendAll);
        })
        
    </script>

   
}