@{
    ViewBag.Title = "Quản lý thông báo";
}

@section css{
    <link rel="stylesheet" href="~/Assets/vendor/toast/toastr.min.css"/>
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Quản lý thông báo</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Quản lý thông báo</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
            </div>

            <h2 class="panel-title">Danh sách thông báo</h2>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-md">
                        <button id="addToTable" class="btn btn-primary">Thêm thông báo <i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped mb-none" id="datatable-editable">
                <thead>
                    <tr>
                        <th class="center">Mã thông báo</th>
                        <th class="center">Tiêu đề</th>
                        <th class="center">Người nhận</th>
                        <th class="center">Ngày đăng</th>
                        <th class="center">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </section>
</section>

@section script{
    <script src="~/Assets/vendor/toast/toastr.min.js"></script>
    <script>
        var rowTemplate = function (id, title, receiver, createDate) {
            return `<tr class="gradeA">
                        <td class="center">${id}</td>
                        <td>${title}</td>
                        <td>${receiver == null ? 'ALL' : receiver}</td>
                        <td>${createDate}</td>
                        <td class="actions center">
                            <a href="#" class="on-default edit-row"><i class="fa fa-eye"></i></a>
                            <a href="#" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                            <a href="#" class="on-default remove-row"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>`;
        }

        $.get('http://localhost:57133/api/Notify')
            .done(function (data) {
                for (var i = 0; i < data.length; i++) {
                    $('tbody').append(rowTemplate(data[i].NotifyID, data[i].Title ,data[i].Receiver, data[i].CreateDate))
                }
            })
            .fail(function () {

            });

        $(document).on('click', '.remove-row', function (e) {
            e.preventDefault();
            var row = $(this);
            var param = $(this).parent().parent().children(".center").text();
            $.ajax({
                url: `http://localhost:57133/api/Notify/${param}`,
                type: 'DELETE',
                success: function () {
                    row.parent().parent().remove();
                    toastr.success("Xóa thông báo thành công");
                },
                fail: function () {
                    toastr.error("Xóa thông báo thất bại")
                }
            })
            
        });

        $('#addToTable').click(function () {
            location.href = "/Notify/Create";
        });

        $(document).on('click', '.edit-row', function (e) {
            e.preventDefault();
            var param = $(this).parent().parent().children(".center").text();
            location.href = `/Notify/Details/${param}`;
        });
    </script>
}