
@{
    ViewBag.Title = "Thông tin cá nhân";
}

@section css{
    <link rel="stylesheet" href="~/Assets/stylesheets/tree.css" />
}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Trang cá nhân</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Hồ sơ cá nhân</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->

    <div class="row justify-content-center">
        

        <div class="col-md-10 col-lg-11">

            <div class="tabs">
                <div class="tab-content">
                    <div id="overview" class="tab-pane active">
                        <form class="form-horizontal" method="get">
                            <div class="justify-space-between">
                                <h4 class="mb-xlg">Thông tin cá nhân</h4>
                                <a href="/Profile/Edit/1"><i class="fa fa-pencil"></i></a>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <div class="thumb-info mb-md">
                                        <img src="~/assets/images/!logged-user.jpg" class="rounded img-responsive" alt="John Doe">
                                        <div class="thumb-info-title">
                                            <span class="thumb-info-inner">Vũ Khắc Tiệp</span>
                                            <span class="thumb-info-type">CEO</span>
                                        </div>
                                    </div>
                                </div>
                                <fieldset class="col-lg-7 col-md-7">
                                    <div class="row">
                                        <label class="col-md-4">Mã thành viên:</label>
                                        <label class="col-md-8">TV001</label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-4">Họ Tên:</label>
                                        <label class="col-md-8">Vũ Khắc Tiệp</label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-4">Ngày sinh:</label>
                                        <label class="col-md-8">15/7/1994</label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-4">Địa chỉ:</label>
                                        <label class="col-md-8">Quận Đống Đa, Thành phố Hà Nội</label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-4">Số CMND</label>
                                        <label class="col-md-8">1234567890</label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-4">Số điện thoại:</label>
                                        <label class="col-md-8">1234567890</label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-4">Tên đăng nhập:</label>
                                        <label class="col-md-8">1234567890</label>
                                    </div>
                                </fieldset>

                            </div>
                            
                        </form>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- end: page -->
</section>

@section script{
    <script src="~/assets/javascripts/tree/tree.js"></script>
    <script>
        var data = [
            {
                "id": "1",
                "pid": "",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            },
            {
                "id": "2",
                "pid": "1",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            },
            {
                "id": "3",
                "pid": "1",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            },
            {
                "id": "4",
                "pid": "2",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            },
            {
                "id": "5",
                "pid": "2",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            },
            {
                "id": "6",
                "pid": "3",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            },
            {
                "id": "7",
                "pid": "3",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            }
        ];
        var orgTree = new OrgTree();
        orgTree.init(data);
    </script>
}

