
@{
    ViewBag.Title = "Thông tin cá nhân";
}

@section css{
    <link rel="stylesheet" href="~/Assets/stylesheets/tree.css" />
}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Trang cá nhân</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Hồ sơ cá nhân</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->

    <div class="row justify-content-center">
        

        <div class="col-md-10 col-lg-11">

            <div class="tabs">
                <div class="tab-content">
                    <div id="overview" class="tab-pane active">
                        <div class="form-horizontal">
                            <div class="justify-space-between">
                                <h4 class="mb-xlg">Thông tin cá nhân</h4>
                                <a class="edit-infor" href=""><i class="fa fa-pencil"></i></a>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <div class="thumb-info mb-md avatar-container">
                                        <img id="avatar" src="~/Assets/images/avt.jpg" class="rounded img-responsive" alt="John Doe">
                                        <div class="thumb-info-title">
                                            <span class="thumb-info-inner">Phạm Văn Thành</span>
                                            <span class="thumb-info-type">Giám đốc</span>
                                        </div>
                                        <div class="edit-avatar">
                                            <input accept="image/*" type="file" class="img-load" onchange="previewAvatar()"/>
                                        </div>
                                        
                                    </div>
                                </div>
                                <fieldset class="col-lg-7 col-md-7">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Họ tên</label>
                                        <div class="col-md-9">
                                            <input value="Phạm Văn Thành" type="text" class="form-control">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Ngày sinh</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input value="28/8/1987" type="text" data-plugin-datepicker class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Giới tính</label>
                                        <div class="col-md-3">
                                            <select class="form-control" data-plugin-multiselect id="ms_example1">
                                                <option value="1" selected>Nam</option>
                                                <option value="0">Nữ</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Địa chỉ</label>
                                        <div class="col-md-9" style="padding-left:0; padding-right:0">
                                            <div class="col-md-6">

                                                <select data-plugin-selectTwo class="form-control populate">
                                                    <option>Hải Dương</option>
                                                    <option>Hưng Yên</option>
                                                    <option>Hải Phòng</option>
                                                    <option>Hà Nội</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select data-plugin-selectTwo class="form-control populate">
                                                    <option>Thành phố Hải Dương</option>
                                                    <option>Huyện Khoái Châu</option>
                                                    <option>Huyện Thanh Oai</option>
                                                    <option>Quận Đống Đa</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Số CMND</label>
                                        <div class="col-md-9">
                                            <input value="030087001720" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Ngày cấp(CMND)</label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input value="13/9/2017" type="text" data-plugin-datepicker class="form-control">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nơi cấp(CMND)</label>
                                        <div class="col-md-9">
                                            <input value="Cục Cảnh sát ĐKQL cư trú và DLQG về dân cư" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Số điện thoại</label>
                                        <div class="col-md-9">
                                            <input value="0987503999" type="tel" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Email</label>
                                        <div class="col-md-9">
                                            <input value="phamvanthanh@gmail.com" type="email" class="form-control">
                                        </div>
                                    </div>

                                    <div class="row btn-save">
                                        <div class="col-md-9 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                        </div>
                                    </div>

                                </fieldset>

                            </div>

                        </div>
                        <hr class="dotted" />
                        <div class="form-horizontal" >
                            <div class="justify-space-between">
                                <h4 class="mb-xlg">Thông tin tài khoản</h4>
                                <a class="edit-infor" href=""><i class="fa fa-pencil"></i></a>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    
                                </div>
                                <fieldset class="col-lg-7 col-md-7">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Tên đăng nhập</label>
                                        <div class="col-md-9">
                                            <input value="thanhpham@123" type="text" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Mật khẩu cũ</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Mật khẩu mới</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Nhắc lại mật khẩu</label>
                                        <div class="col-md-9">
                                            <input type="password" class="form-control">
                                        </div>
                                    </div>


                                    <div class="row btn-save">
                                        <div class="col-md-9 col-md-offset-3">
                                            <button type="submit" class="btn btn-primary">Lưu</button>
                                        </div>
                                    </div>
                                </fieldset>

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- end: page -->
</section>

@section script{
    <script>
        var disable = function () {
            $('.tabs').find('input').prop('disabled', true);
            $('select').prop('disabled', true);
        };
        var enable = function (edit) {
            var parent = $(edit).parent().next();
            console.log(parent);
            parent.find('input').prop('disabled', false);
            parent.find('select').prop('disabled', false);
        }
        disable();
        $('.img-load').hide();
        $('.btn-save').hide();
        var state = false;
        $('.edit-infor').click(function (e) {
            e.preventDefault();

            var $this = $(this);
            var btnSave = $this.parent().next().find('fieldset').find('.btn-save');
            var fileInput = $this.parent().next().find('.img-load');
            if (!state) {
                enable($this);
                fileInput.show();
                btnSave.show();
                state = true;
            }
            else {
                disable();
                fileInput.hide();
                btnSave.hide();
                state = false;
            }

        });

        function previewAvatar() {
            var avatar = $('#avatar');
            var file = $(".img-load")[0].files[0];
            var reader = new FileReader();
            reader.addEventListener('load', function () {
                avatar.attr('src', reader.result);
            }, false);

            if (file) {
                reader.readAsDataURL(file);
            }
        }


    </script>
}

