
@{
    ViewBag.Title = "Thông tin cá nhân";
}

@section css{
    <link rel="stylesheet" href="~/Assets/stylesheets/tree.css" />
}
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Trang cá nhân</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Hồ sơ cá nhân</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->

    <div class="row justify-content-center">
        

        <div class="col-md-10 col-lg-11">

            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="active">
                        <a href="#overview" data-toggle="tab">Thông tin chi tiết</a>
                    </li>
                    <li>
                        <a href="#edit" data-toggle="tab">Chỉnh sửa thông tin</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="overview" class="tab-pane active">
                        <form class="form-horizontal" method="get">
                            <h4 class="mb-xlg">Thông tin cá nhân</h4>
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <div class="thumb-info mb-md">
                                        <img src="~/assets/images/!logged-user.jpg" class="rounded img-responsive" alt="John Doe">
                                        <div class="thumb-info-title">
                                            <span class="thumb-info-inner">Vũ Khắc Tiệp</span>
                                            <span class="thumb-info-type">CEO</span>
                                        </div>
                                    </div>
                                </div>
                                <fieldset class="col-lg-7 col-md-7">
                                    <div class="row">
                                        <label class="col-md-3">Họ Tên:</label>
                                        <label class="col-md-9">Vũ Khắc Tiệp</label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3">Ngày sinh:</label>
                                        <label class="col-md-9">15/7/1994</label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3">Địa chỉ:</label>
                                        <label class="col-md-9">Quận Đống Đa, Thành phố Hà Nội</label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3">Số CMND</label>
                                        <label class="col-md-9">1234567890</label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3">Số điện thoại:</label>
                                        <label class="col-md-9">1234567890</label>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-3">Tên đăng nhập:</label>
                                        <label class="col-md-9">1234567890</label>
                                    </div>
                                </fieldset>

                            </div>
                            <hr class="dotted tall">
                            <h4 class="mb-xlg">Cấp dưới</h4>
                            <div id=body genealogy-body genealogy-scroll class="justify-content-center">
                                <ul  class="genealogy-tree">

                                </ul>
                            </div>
                        </form>
                    </div>
                    <div id="edit" class="tab-pane">
                        <form class="form-horizontal" method="get">
                            <h4 class="mb-xlg">Thông tin cá nhân</h4>
                            <fieldset>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileFirstName">Họ tên</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="profileFirstName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileLastName">Quê quán</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="profileLastName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileAddress">Số điện thoại</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="profileAddress">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileCompany">Số CMND</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="profileCompany">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileCompany">Ngày sinh</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="profileCompany">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                        <button type="reset" class="btn btn-default">Xóa thông tin</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <form class="form-horizontal form-change-password">
                            <h4 class="mb-xlg">Thông tin tài khoản</h4>
                            <fieldset class="mb-xl">
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileNewPassword">Mật khẩu cũ</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="profileNewPassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileNewPassword">Mật khẩu mới</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="profileNewPassword">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="profileNewPasswordRepeat">Nhập lại mật khẩu mới</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="profileNewPasswordRepeat">
                                    </div>
                                </div>
                            </fieldset>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-9 col-md-offset-3">
                                        <button type="submit" class="btn btn-primary">Lưu</button>
                                        <button type="reset" class="btn btn-default">Xóa thông tin</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: page -->
</section>

@section script{
    <script src="~/assets/javascripts/tree/tree.js"></script>
    <script>
        var data = [
            {
                "id": "1",
                "pid": "",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            },
            {
                "id": "2",
                "pid": "1",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            },
            {
                "id": "3",
                "pid": "1",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            },
            {
                "id": "4",
                "pid": "2",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            },
            {
                "id": "5",
                "pid": "2",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            },
            {
                "id": "6",
                "pid": "3",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            },
            {
                "id": "7",
                "pid": "3",
                "name": "Vũ Khắc Tiệp",
                "img": "https://image.flaticon.com/icons/svg/145/145867.svg"
            }
        ];
        var orgTree = new OrgTree();
        orgTree.init(data);
    </script>
}

