@{
    ViewBag.Title = "Quản lý sản phẩm";
}

@section css{
    <link rel="stylesheet" type="text/css" href="~/Assets/vendor/toast/toastr.min.css"/>
} 
<section role="main" class="content-body">
    <header class="page-header">
        <h2>Quản lý sản phẩm</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Quản lý sản phẩm</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
            </div>

            <h2 class="panel-title">Danh sách sản phẩm</h2>
        </header>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-md">
                        <button id="addToTable" class="btn btn-primary">Thêm sản phẩm <i class="fa fa-plus"></i></button>
                    </div>
                </div>
           
            </div>
            <table class="table table-bordered table-striped mb-none" id="table">
                <thead>
                    <tr>
                        <th class="center">Mã sản phẩm</th>
                        <th class="center">Tên sản phẩm</th>
                        <th class="center">Giá bán lẻ (VNĐ)</th>
                        <th class="center">Giá cơ sở thu nhập (VNĐ)</th>
                        <th class="center">Điểm doanh số</th>
                        <th class="center">Mô tả</th>
                        <th class="center">Số lượng</th>
                        <th class="center">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    


                </tbody>
            </table>
        </div>
    </section>
</section>

@section div{
    <div id="dialog" class="modal-block mfp-hide">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Bạn có chắc chắn muốn xóa?</h2>
            </header>
            <div class="panel-body">
                <div class="modal-wrapper">
                    <div class="modal-text">
                        <p>Bạn có chắc chắn muốn xóa sản phẩm này?</p>
                    </div>
                </div>
            </div>
            <footer class="panel-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button id="dialogConfirm" class="btn btn-primary">Xác nhận</button>
                        <button id="dialogCancel" class="btn btn-default">Đóng</button>
                    </div>
                </div>
            </footer>
        </section>
    </div>
}

@section script{
    <script src="~/Assets/vendor/toast/toastr.min.js"></script>
    <script src="~/Assets/javascripts/tables/product.handler.js"></script>
}
