
@{
    ViewBag.Title = "Index";
}



<section role="main" class="content-body">
    <header class="page-header">
        <h2>Cấu hình hệ thống</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Cấu hình hệ thống</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>

                    </div>
                    <h2 class="panel-title">Mức chiết khấu(%)</h2>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal form-bordered" method="get">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Thành viên</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Thành viên TC</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Thành viên ĐC</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Trưởng nhóm</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Trưởng phòng dự bị</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Trưởng phòng</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>

                    </div>
                    <h2 class="panel-title">Mức đạt chuẩn</h2>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal form-bordered" method="get">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Thành viên</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Thành viên TC</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Thành viên ĐC</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Trưởng nhóm</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Trưởng phòng dự bị</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">Trưởng phòng</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>

                    </div>
                    <h2 class="panel-title">Quy đổi điểm</h2>
                </header>
                <div class="panel-body">
                    <form class="form-horizontal form-bordered" method="get">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="inputDefault">1 điểm = </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="inputDefault" disabled>
                            </div>
                            <a href="javascript:void(0);" class="col-md-4 label-config-change" for="inputDefault">Sửa</a>
                            <br>
                            <div class="control-config config-control-hidden">
                                <a href="javascript:void(0);">Lưu</a>
                                <a href="javascript:void(0);">Hủy</a>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>


    <!-- end: page -->
</section>

@section script{
    <script>
        $('.label-config-change').click(function () {
            var btnUpdate = $(this);
            var input = btnUpdate.prev().children('input');
            var control = btnUpdate.next().next();
            input.prop("disabled", false);
            console.log(control);
            control.removeClass("config-control-hidden");
        });

        $('.control-config a:nth-child(2)').click(function () {
            var btnCancel = $(this);
            var control = btnCancel.parent();
            var input = control.prev().prev().prev().children('input');
            control.addClass("config-control-hidden");
            input.prop('disabled', true);
        });

    </script>
}