
@{
    ViewBag.Title = "Cập nhật hằng tháng";
}
@section css{
    <link rel="stylesheet" href="~/Assets/stylesheets/popup.css">
}


<section role="main" class="content-body">
    <header class="page-header">
        <h2>Cập nhật lương tháng</h2>
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Cập nhật lương tháng</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
            </div>
            <h2 class="panel-title">Cập nhật lương tháng</h2>
        </header>
        <div class="panel-body">
            <div>
                <button class="btn btn-primary" id="export">Xuất file Excel</button>
            </div>
            <table class="table table-bordered table-striped mb-none" id="default-table">
                <thead>
                    <tr >
                        <th>Mã thành viên</th>
                        <th>Tiền chênh 1 cấp (VNĐ)</th>
                        <th>Tiền hoa hồng mua hàng (VNĐ)</th>
                        <th>Hoa hồng thành tích lãnh đạo (VNĐ)</th>
                        <th>Tổng lương (VNĐ)</th>
                    </tr>
                </thead>
            </table>
        </div>
    </section>
    <!-- end: page -->
    
</section>
			</div>
		</section>



<div class="mx-auto workform" style="margin-top:100px;">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h3 class="text-center mb-4">Cập nhật bảng điểm</h3>
                <form class="form-card" id="frmadd">
                    <div class="row">
                        Bạn phải cập nhật hằng tháng! Ưu tiên đầu tháng để cho phép các thành viên có thể xét thăng cấp sớm nhất!!
                    </div>
                    <footer class="" style="padding: 15px 0px;">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button id="dialogConfirm" class="btn btn-primary  save" type="button">Lưu</button>
                                <button id="dialogCancel" class="btn btn-default  exit" type="button">Đóng</button>
                            </div>
                        </div>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/Assets/vendor/export_sheet/src/jquery.table2excel.js"></script>
    <script src="~/Assets/javascripts/tables/job.handler.js"></script>


}