@{
    ViewBag.Title = "Trang chủ";
}
@section css{
    <link rel="stylesheet" href="~/Assets/stylesheets/popup.css">
}

<section role="main" class="content-body">
    <header class="page-header">
        <h2>Trang chủ</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Trang chủ</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>

    <!-- start: page -->
    <div class="row">
        <!--part 1-->
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="row" style="padding: 0 15px 15px 15px;">
                <header class="panel-heading">
                    <h3>Thời gian</h3>
                    <div style="margin-top: 20px; display: flex; width: 23%; justify-content: space-between;">
                        <div>
                            <select name="year" id="year">
                                <option value="2021" selected>Năm 2021</option>
                                <option value="2020">Năm 2020</option>
                                <option value="2019">Năm 2019</option>
                            </select>
                        </div>

                        <div>
                            <select name="month" id="month">

                                <option value="T1">Tháng 1</option>
                                <option value="T2">Tháng 2</option>
                                <option value="T3">Tháng 3</option>
                                <option value="T4">Tháng 4</option>
                                <option value="T5">Tháng 5</option>
                                <option value="T6">Tháng 6</option>
                                <option value="T7">Tháng 7</option>
                                <option value="T8">Tháng 8</option>
                                <option value="T9">Tháng 9</option>
                                <option value="T10">Tháng 10</option>
                                <option value="T11">Tháng 11</option>
                                <option value="T12">Tháng 12</option>
                                <option value="Q1">Quý 1</option>
                                <option value="Q2">Quý 2</option>
                                <option value="Q3" selected>Quý 3</option>
                                <option value="Q4">Quý 4</option>
                            </select>
                        </div>
                    </div>

                </header>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <section class="panel panel-featured-left panel-featured-quartenary">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-quartenary">
                                        <i class="fa fa-user"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <div class="info">
                                            <strong class="amount" id="CountLowerMembers">0</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase">Số thành viên</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-12 col-lg-6 col-xl-6">
                    <section class="panel panel-featured-left panel-featured-tertiary">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-tertiary">
                                        <i class="fa fa-shopping-cart"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">

                                        <div class="info">
                                            <strong class="amount" id="CountOrders">0</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase">Tổng số đơn hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-md-12 col-lg-6 col-xl-6">
                    <section class="panel panel-featured-left panel-featured-primary">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-primary">
                                        <i class="fa fa-life-ring"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <div class="info">
                                            <strong class="amount" id="Accmulation">0</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase">Tổng điểm doanh số</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="col-md-12 col-lg-6 col-xl-6">
                    <section class="panel panel-featured-left panel-featured-secondary">
                        <div class="panel-body">
                            <div class="widget-summary">
                                <div class="widget-summary-col widget-summary-col-icon">
                                    <div class="summary-icon bg-secondary">
                                        <i class="fa fa-usd"></i>
                                    </div>
                                </div>
                                <div class="widget-summary-col">
                                    <div class="summary">
                                        <div class="info">
                                            <strong class="amount" id="Salary"> VND</strong>
                                        </div>
                                    </div>
                                    <div class="summary-footer">
                                        <a class="text-muted text-uppercase">Tổng doanh thu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>



            </div>
        </div>

        <!--part 2-->
        <div class="col-md-12 col-lg-12 col-xl-12">
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Thống kê</h2>
                </header>
                <div class="panel-body">
                    <div class="table-responsive" style="overflow:hidden">
                        <table class="table table-bordered mb-none" id="default-table">
                            <thead>
                                <tr>
                                    <th class="center" width="40px">Tháng</th>
                                    <th class="center">Số thành viên</th>
                                    <th class="center">Số đơn hàng</th>
                                    <th class="center">Tổng điểm doanh số</th>
                                    <th class="center">Tổng doanh thu (VNĐ)</th>
                                </tr>
                            </thead>
                            @*<tbody>
                                    <tr>
                                        <td class="center">1</td>
                                        <td class="right">200</td>
                                        <td class="right">5.000</td>
                                        <td class="right">500.000</td>
                                        <td class="right">100.000.000</td>
                                    </tr>
                                    <tr>
                                        <td class="center">2</td>
                                        <td class="right">200</td>
                                        <td class="right">5.000</td>
                                        <td class="right">500.000</td>
                                        <td class="right">100.000.000</td>
                                    </tr>
                                    <tr>
                                        <td class="center">3</td>
                                        <td class="right">200</td>
                                        <td class="right">5.000</td>
                                        <td class="right">500.000</td>
                                        <td class="right">100.000.000</td>
                                    </tr>
                                    <tr>
                                        <td class="center">4</td>
                                        <td class="right">200</td>
                                        <td class="right">5.000</td>
                                        <td class="right">500.000</td>
                                        <td class="right">100.000.000</td>
                                    </tr>
                                    <tr>
                                        <td class="center">5</td>
                                        <td class="right">200</td>
                                        <td class="right">5.000</td>
                                        <td class="right">500.000</td>
                                        <td class="right">100.000.000</td>
                                    </tr>
                                    <tr>
                                        <td class="center">6</td>
                                        <td class="right">200</td>
                                        <td class="right">5.000</td>
                                        <td class="right">500.000</td>
                                        <td class="right">100.000.000</td>
                                    </tr>
                                    <tr>
                                        <td class="center">7</td>
                                        <td class="right">200</td>
                                        <td class="right">5.000</td>
                                        <td class="right">500.000</td>
                                        <td class="right">100.000.000</td>
                                    </tr>

                                </tbody>*@
                        </table>
                    </div>
                </div>
            </section>
        </div>

        <!--part 3-->
        <div class="col-md-12 col-lg-12 col-xl-12">
            <section class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="chart-data-selector" id="salesSelectorWrapper">
                                <h2>
                                    Năm:
                                    <strong>
                                        <select class="form-control" id="salesSelector">
                                            <option selected>2021</option>
                                            <option>2020</option>
                                            <option>2019</option>
                                        </select>
                                    </strong>
                                </h2>


                                <div id="salesSelectorItems" class="chart-data-selector-items mt-sm row">
                                    <!-- Flot: Sales JSOFT Admin -->
                                    <div class="col-lg-6 col-md-6 col-xl-6" style=" padding: 0px 0px 0px 60px;">
                                        <div class="text-center chart-custom">
                                            <label for="flotDashSales4">Số thành viên</label>
                                            <div class="chart chart-sm chart-active" data-sales-rel="JSOFT Admin" id="flotDashSales4"></div>
                                        </div>

                                        <div class="text-center chart-custom">
                                            <label for="flotDashSales1">Điểm doanh số</label>
                                            <div class="chart chart-sm chart-active" data-sales-rel="JSOFT Admin" id="flotDashSales1"></div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-xl-6 " style=" padding: 0px 0px 0px 60px;">
                                        <div class="text-center chart-custom">
                                            <label for="flotDashSales3">Số đơn hàng</label>
                                            <div class="chart chart-sm chart-active" data-sales-rel="JSOFT Admin" id="flotDashSales3"></div>
                                        </div>

                                        <div class="text-center chart-custom">
                                            <label for="flotDashSales2">Doanh thu</label>
                                            <div class="chart chart-sm chart-active" data-sales-rel="JSOFT Admin" id="flotDashSales2"></div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
    <!-- end: page -->
</section>


<div class="mx-auto workform" id="form1" style="display: none;margin-top:100px;">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <div class="card">
                <h3 class="text-center mb-4">Bạn không đạt chuẩn vị trí</h3>
                <form class="form-card">
                    <div class="row" id="alert">
                        
                    </div>
                    <footer class="" style="padding: 15px 0px;">
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <button id="dialogCancel" class="btn btn-default  exit" type="button">Xác nhận</button>
                            </div>
                        </div>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>

@section script{
    <script>
        
    </script>
    <script src="~/Assets/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/Assets/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
    <script src="~/Assets/vendor/jquery-appear/jquery.appear.js"></script>
    <script src="~/Assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
    <script src="~/Assets/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
    <script src="~/Assets/vendor/flot/jquery.flot.js"></script>
    <script src="~/Assets/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/Assets/vendor/flot/jquery.flot.pie.js"></script>
    <script src="~/Assets/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/Assets/vendor/flot/jquery.flot.resize.js"></script>
    <script src="~/Assets/vendor/jquery-sparkline/jquery.sparkline.js"></script>
    <script src="~/Assets/vendor/raphael/raphael.js"></script>
    <script src="~/Assets/vendor/morris/morris.js"></script>
    <script src="~/Assets/vendor/gauge/gauge.js"></script>
    <script src="~/Assets/vendor/snap-svg/snap.svg.js"></script>

    <script src="~/Assets/javascripts/dashboard/dashboard.js"></script>
}